[Unit]
Description=Kerni Node Discovery API
After=network.target

[Service]
Type=simple
User=dprandi
WorkingDirectory=/var/www/kerni
ExecStart=/var/www/kerni/.venv/bin/python -m backend.node_discovery_api.app
Restart=always
AmbientCapabilities=CAP_NET_RAW
CapabilityBoundingSet=CAP_NET_RAW

[Install]
WantedBy=multi-user.target